.swiper {
  overflow: hidden;
}

.swiper-container {
  position: absolute;
  width: 100%;
  height: 498px;
  top: 117px;
  left: 25px;
}

.swiper-slide {
  position: absolute;
  width: 390px;
  height: 498px;
}

html, body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden; /* 필요에 따라 가로 스크롤을 숨기기 위해 사용 */
}

.show-picture {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
  }

  .show-picture .block {
    height: 844px;
    background-color: black;
    position: relative;
    flex: 1;
    z-index: 2;
  }
  
  .show-picture .div {
    width: 390px;
    height: 844px;
    position: relative;
  }


  .show-picture .group {
    position: absolute;
    width: 191px;
    height: 51px;
    top: 24px;
    left: 20px;
  }
  
  .show-picture .overlap-group {
    position: relative;
    width: 189px;
    height: 51px;
  }
  
  .show-picture .group-2 {
    position: absolute;
    width: 189px;
    height: 48px;
    top: 0;
    left: 0;
  }
  
  .show-picture .group-3 {
    position: absolute;
    width: 152px;
    height: 45px;
    top: 0;
    left: 41px;
  }
  
  .show-picture .text-wrapper {
    position: absolute;
    width: 82px;
    height: 45px;
    top: 0;
    left: 0;
    font-family: "Kanit", Helvetica;
    font-weight: 200;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    line-height: normal;
  }
  
  .show-picture .text-wrapper-2 {
    position: absolute;
    width: 63px;
    height: 26px;
    top: 9px;
    left: 85px;
    font-family: "Kanit", Helvetica;
    font-weight: 700;
    color: #ffffff;
    font-size: 30px;
    text-align: center;
    letter-spacing: 3px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .show-picture .camera {
    position: absolute;
    width: 40px;
    height: 40px;
    top: 8px;
    left: 0;
  }
  
  .show-picture .picture-1 {
    position: absolute;
    width: 340px;
    height: 498px;
  }
  
  .show-picture .picture-2 {
    position: absolute;
    width: 188px;
    height: 498px;
    left: 76px;
    right: 76px;
  }
  
  .show-picture .text-wrapper-3 {
    position: absolute;
    width: 87px;
    top: 33px;
    left: 43px;
    font-family: "Kanit", Helvetica;
    font-weight: 400;
    color: #ffffff;
    font-size: 12px;
    letter-spacing: 0;
    line-height: normal;
  }
  
  .show-picture .group-4 {
    position: absolute;
    width: 18px;
    height: 7px;
    top: 622px;
    left: 186px;
    display: flex;
  }
  
  /* .show-picture .swiper-pagination {
    left: 11px;
    background-color: #d9d9d980;
    width: 7px;
    height: 7px;
    top: 0;
    border-radius: 3.5px;
  }
  
  .show-picture .ellipse {
    left: 11px;
    background-color: #d9d9d980;
    width: 7px;
    height: 7px;
    top: 0;
    border-radius: 3.5px;
  }
  
  .show-picture .ellipse-2 {
    left: 0;
    background-color: #ffffff;
    width: 7px;
    height: 7px;
    top: 0;
    border-radius: 3.5px;
  }
  
  .show-picture .ellipse-space {
    width: 4px;
  } */
  
  .show-picture .overlap-wrapper {
    position: absolute;
    width: 210px;
    height: 60px;
    top: 664px;
    left: 90px;
  }
  
  .show-picture .overlap {
    position: relative;
    width: 210px;
    height: 60px;
    background-color: #ffffff;
  }
  
  .show-picture .rectangle-2 {
    position: relative;
    width: 200px;
    height: 52px;
    top: 3.5px;
    left: 4.5px;
    background-color: #ffffff;
    border: 1px solid;
    border-color: #000000;
  }
  
  .show-picture .text-wrapper-4 {
    position: absolute;
    height: 24px;
    top: 18px;
    left: 67px;
    font-family: "Pretendard-Bold", Helvetica;
    font-weight: 700;
    color: #000000;
    font-size: 20px;
    text-align: center;
    letter-spacing: 0.6px;
    line-height: normal;
    white-space: nowrap;
  }
  
  .show-picture .download {
    position: absolute;
    width: 30px;
    height: 30px;
    top: 15px;
    left: 33px;
  }
  
  .show-picture .just {
    position: absolute;
    width: 350px;
    height: 14px;
    top: 814px;
    left: 19px;
  }

