<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="../static/global.css" />
    <link rel="stylesheet" href="../static/style.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css" />
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
  </head>
  <body style="background-color: black;">
    <div class="show-picture">
      <div class="block"></div>
      <div class="div">
        <div class="swiper-container">
          <div class="swiper-wrapper">
              <div class="swiper-slide">
                <img class="picture-1" src="../media/diw.png" />
              </div>
              <div class="swiper-slide">
                <img class="picture-2" src="../media/diw.png" />
              </div>
          </div>
        </div>
        <div class="group">
          <div class="overlap-group">
            <div class="group-2">
              <div class="group-3">
                <div class="text-wrapper">DIMI4</div>
                <div class="text-wrapper-2">CUT</div>
              </div>
              <img class="camera" src="../static/camera.png" />
            </div>
            <div class="text-wrapper-3">Photo in KDMHS</div>
          </div>
        </div>
        <div class="group-4">
          <div class="ellipse" id="1"></div>
          <div class="ellipse-space"></div>
          <div class="ellipse" id="2"></div>
        </div>
        <div class="overlap-wrapper">
          <div class="overlap">
            <div class="rectangle-2"></div>
            <div class="text-wrapper-4">사진 다운로드</div>
            <img class="download" src="../static/download.png" />
          </div>
        </div>
        <img class="img" src="img/group-16.png" />
      </div>
      <div class="block"></div>
    </div>
    <script type="module">
      import Swiper from 'https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.mjs'
      var mySwiper = new Swiper('.swiper-container', {
        // 선택적 매개변수
        direction: 'horizontal',
        slidesPerView: 1,
        centeredSlides: true,
        loop: false,
    
        // 페이지네이션이 필요한 경우
        pagination: {
          el: '.swiper-pagination',
          clickable: false,
        },
        navigation: {
          nextEl: '.swiper-button-next',
          prevEl: '.swiper-button-prev',
        },
      });
    </script>
  </body>
</html>
