<!-- <body style="background-color: black">
  <div style="width: 340px; height: 498px; left: 25px; top: 117px; position: absolute; background: #D9D9D9"></div>
  <div style="width: 189px; height: 43px; left: 20px; top: 32px; position: absolute">
    <div style="width: 189px; height: 40px; left: 0px; top: 0px; position: absolute">
      <div style="width: 152px; height: 29px; left: 37px; top: 0px; position: absolute">
        <div style="width: 90px; height: 29px; left: 0px; top: 0px; position: absolute; text-align: center; color: white; font-size: 30px; font-family: Kanit; font-weight: 275; letter-spacing: 3px; word-wrap: break-word">DIMI4</div>
        <div style="width: 63px; height: 26px; left: 89px; top: 1px; position: absolute; text-align: center; color: white; font-size: 30px; font-family: Kanit; font-weight: 700; letter-spacing: 3px; word-wrap: break-word">CUT</div>
      </div>
      <div style="width: 40px; height: 40px; left: 0px; top: 0px; position: absolute">
        <div style="width: 33.33px; height: 33.33px; left: 3.33px; top: 3.33px; position: absolute; background: white"></div>
      </div>
    </div>
    <div style="left: 43px; top: 25px; position: absolute; color: white; font-size: 12px; font-family: Kanit; font-weight: 400; word-wrap: break-word">Photo in KDMHS</div>
  </div>
  <div style="width: 18px; height: 7px; left: 186px; top: 622px; position: absolute">
    <div style="width: 7px; height: 7px; left: 11px; top: 0px; position: absolute; background: rgba(217, 217, 217, 0.50); border-radius: 9999px"></div>
    <div style="width: 7px; height: 7px; left: 0px; top: 0px; position: absolute; background: white; border-radius: 9999px"></div>
  </div>
  <div style="width: 210px; height: 60px; left: 90px; top: 664px; position: absolute">
    <div style="width: 210px; height: 60px; left: 0px; top: 0px; position: absolute; background: white"></div>
    <div style="width: 200px; height: 52px; left: 5px; top: 4px; position: absolute; background: white; border: 1px black solid"></div>
    <div style="left: 67px; top: 18px; position: absolute; text-align: center; color: black; font-size: 20px; font-family: Pretendard; font-weight: 700; letter-spacing: 0.60px; word-wrap: break-word">사진 다운로드</div>
    <div style="width: 30px; height: 30px; left: 33px; top: 15px; position: absolute">
      <div style="width: 17.50px; height: 21.25px; left: 6.25px; top: 4.38px; position: absolute; background: black"></div>
    </div>
  </div>
  <div style="width: 349.83px; height: 14px; left: 19px; top: 814px; position: absolute">
    <div style="width: 36.67px; height: 14px; left: 0px; top: 0px; position: absolute">
      <div style="width: 13.62px; height: 13.99px; left: 0px; top: 0px; position: absolute; background: #AAAAAA"></div>
      <div style="width: 9.40px; height: 9.09px; left: 19.51px; top: 4.91px; position: absolute; background: #AAAAAA"></div>
      <div style="width: 7.58px; height: 10.97px; left: 29.09px; top: 3.02px; position: absolute; background: #AAAAAA"></div>
      <div style="width: 10.55px; height: 8.82px; left: 10.41px; top: 5.16px; position: absolute; background: #AAAAAA"></div>
    </div>
    <div style="width: 13.83px; height: 14px; left: 336px; top: 0px; position: absolute">
      <div style="width: 13.83px; height: 14px; left: 0px; top: 0px; position: absolute; background: #AAAAAA"></div>
      <div style="width: 6.98px; height: 7.07px; left: 3.42px; top: 3.46px; position: absolute; background: #AAAAAA"></div>
      <div style="width: 1.58px; height: 1.59px; left: 9.75px; top: 2.65px; position: absolute; background: #AAAAAA"></div>
    </div>
    <div style="width: 20.92px; height: 14px; left: 308px; top: 0px; position: absolute; flex-direction: column; justify-content: flex-start; align-items: flex-start; display: inline-flex">
      <div style="width: 20.92px; height: 14px; background: #AAAAAA"></div>
    </div>
  </div>
</body> -->
<head>
  <style>
    div {
      color: white;
    }
  </style>
</head>
<body style="background-color: black; padding-top: 32px;">
  <div style="display: flex; margin: 0 auto;">
    <img src="../static/camera.png" style="width: 40px; height: 40px; padding-top: 8px;">
    <div style="font-size: 12px; font-weight: 400;">
      <div style="font-size: 30px; display: block; font-weight: 275;">
        DIMI4<b style="font-weight: 700;">CUT</b>
      </div>
      Photo in KDMHS
    </div>
  </div>
  <div style="height: 42px;"></div>
  <div style="width: 340px; height: 498px; background-color: grey; margin: 0 auto;">
    <img src="../media/diw.png">
  </div>
  <div style="height: 7px"></div>
</body>